<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205929577840-0djdq5h8prbokadaphtvheoce7j77318.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205929577840-0djdq5h8prbokadaphtvheoce7j77318</string>
	<key>API_KEY</key>
	<string>AIzaSyCem8jB8_lUQQmAtI4C9cYh5i3fBTTTL0A</string>
	<key>GCM_SENDER_ID</key>
	<string>205929577840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miagedProject</string>
	<key>PROJECT_ID</key>
	<string>miagedproject-29256</string>
	<key>STORAGE_BUCKET</key>
	<string>miagedproject-29256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205929577840:ios:aef8caae02f20267eb23b5</string>
</dict>
</plist>